.bttn {
    background: url("@/assets/tests/bmac.svg") 0.95em center / 1em no-repeat;
    background-color: rgba(255, 221, 0, 1);
    display: inline-block;
    min-width: 124px;
    padding: 0.25em 1em 0.25em 2.6em;
    position: relative;
}

.bttn:hover {
    background-color: #ffe74d;
    color: #0e4071;
}

.bttn::after,
.bttn::before {
    --image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHBhdGggZD0iTTEzIDIzQzMgMTMgMjMgMTMgMTMgMyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjMiLz48L3N2Zz4=");
    animation: 4s coffee-steam linear infinite;
    background-color: currentColor;
    content: "";
    display: inline-block;
    height: 1em;
    left: 0.8em;
    -webkit-mask-image: var(--image);
    mask-image: var(--image);
    opacity: 0;
    position: absolute;
    //speak: never;
    top: -0.45em;
    width: 1em;
    will-change: transform;
}

.bttn::after {
    animation-delay: 2430ms;
    height: 0.75em;
    left: 1.2em;
    width: 0.75em;
}

@keyframes coffee-steam {
    0% {
        opacity: 0;
        transform: rotate(7.5deg) scale(1) translateY(0);
    }

    50% {
        opacity: 0.75;
        transform: rotate(-7.5deg) scale(0.8) translateY(-0.5em);
    }

    100% {
        opacity: 0;
        transform: rotate(7.5deg) scale(1.1) translateY(-1em);
    }
}
